body{
    background-color: aqua;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ul{
    width: 300px;
    border-radius: 10px;
}
li a{
    text-decoration: none;
    font-size: 13pt;
    color: white;

}
li:nth-child(odd){
    background-color:darkgrey;
    border-radius: 10px;
    padding: 5px;
    
}

