{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultados</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
        <h1>Resultados</h1>
        <h2>{{ pergunta.texto }}</h2>
        
        <ul>
            {% for alternativa in pergunta.alternativa_set.all %}
            <li>{{ alternativa.texto }} - {{ alternativa.votos }} votos(s)</li>
            {% endfor %}
        </ul>
        <form action="{% url 'index' %}">
            <button type="submit">Voltar as enquetes</button>
        </form>
        
</body>
</html>